In [64]:
import pandas as pd 
import numpy as np

In [65]:
df = pd.read_csv('attribution.csv')

In [66]:
df.head()

,Peak,Assignment1,Assignment2,Assignment3,Assignment4,Assignment5,Assignment6,Assignment7,Assignment8,Assignment9,Assignment10,Reference number
0,415 $cm^{-1}$,Phosphatidylinositol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42
1,418 $cm^{-1}$,Cholesterol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42
2,428 $cm^{-1}$,Symmetric stretching vibration of $v_2 PO_4^{3-}$,phosphate of HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-31
3,429 $cm^{-1}$,"Cholesterol, cholesterol ester",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42
4,445 $cm^{-1}$,"N-C-S stretch (one of three thiocyanate peaks,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-61

In [111]:
for i in range(len(df)):
    tmp = [str(df.iloc[i, j]) for j in range(1, 11) if not pd.isna(df.iloc[i, j])]
    tmp_str = '\n'.join(tmp)
    df.loc[i, 'assignment'] =  tmp_str
    df.loc[i, 'peak'] = int(df.iloc[i, 0].replace('$cm^{-1}$', ''))

In [112]:
df.head()

,Peak,Assignment1,Assignment2,Assignment3,Assignment4,Assignment5,Assignment6,Assignment7,Assignment8,Assignment9,Assignment10,Reference number,assignment,peak,ref
0,415 $cm^{-1}$,Phosphatidylinositol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42,Phosphatidylinositol,415,-42
1,418 $cm^{-1}$,Cholesterol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42,Cholesterol,418,-42
2,428 $cm^{-1}$,Symmetric stretching vibration of $v_2 PO_4^{3-}$,phosphate of HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-31,Symmetric stretching vibration of $v_2 PO_4^{3...,428,-31
3,429 $cm^{-1}$,"Cholesterol, cholesterol ester",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42,"Cholesterol, cholesterol ester",429,-42
4,445 $cm^{-1}$,"N-C-S stretch (one of three thiocyanate peaks,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-61,"N-C-S stretch (one of three thiocyanate peaks,...",445,-61

In [113]:
new_df = df[['peak', 'assignment']].drop_duplicates()

In [114]:
new_df.head()

  peak                                         assignment
0  415                               Phosphatidylinositol
1  418                                        Cholesterol
2  428  Symmetric stretching vibration of $v_2 PO_4^{3...
3  429                     Cholesterol, cholesterol ester
4  445  N-C-S stretch (one of three thiocyanate peaks,...

In [115]:
new_df.to_csv('cleaned_attribution.csv', index=False)

In [110]:
target = 800
nearest_idx = (np.abs(df['peak'] - target))
np.argsort(nearest_idx)

0       74
1       75
2       76
3       73
4       77
      ...
516    516
517    517
518    518
519    519
520    520
Name: peak, Length: 521, dtype: int64

In [108]:
new_df.iloc[id]

peak                                       802
assignment    Uracil-based ring breathing mode
Name: 74, dtype: object

In [107]:
new_df.head()

  peak                                         assignment
0  415                               Phosphatidylinositol
1  418                                        Cholesterol
2  428  Symmetric stretching vibration of $v_2 PO_4^{3...
3  429                     Cholesterol, cholesterol ester
4  445  N-C-S stretch (one of three thiocyanate peaks,...